.popup-container {
  background-color: var(--customLightColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-imgContainer {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  /* border-bottom-right-radius: 50%;
  border-top-right-radius: 50%; */
  position: relative;
}
.popup-imgContainer > img {
  /* border: solid ; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border-bottom-right-radius: 50%;
  border-top-right-radius: 50%; */
  /* object-position: -70px 30px; */
}
.popup-content {
  /* border: solid red; */
  width: fit-content;
  height: fit-content;
  padding: 20px;
  /* border-radius: 20px; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); */
  /* background-color: white; */
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupExit {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit {
  color: red;
  font-size: 30px;
  cursor: pointer;
}
.popup-imgContainer > span {
  /* border: solid green; */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.glass-btn {
  position: absolute;
  bottom: 13%;
  left: 7%;
  padding: 10px 22px;
  border-radius: 12px;

  /* Soft gold border */
  border: 1px solid rgba(201, 169, 84, 0.6);

  /* Gold-tinted glass background */
  background: #c8ab54;

  backdrop-filter: blur(6px);
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 4px 10px rgba(201, 169, 84, 0.2);
}

.glass-btn:hover {
  background: #c8ab54;
  box-shadow: 0 6px 14px rgba(201, 169, 84, 0.3);
  transform: translateY(-2px);
}

.glass-btn a {
  color: black; /* deep gold-brown */
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 768px) {
  .glass-btn {
    position: absolute;
    bottom: 12%;
    left: 0%;
    padding: 10px 22px;
    border-radius: 12px;
    transform: scale(0.7);
  }
  .popup-content {
  padding: 10px;
  /* border-radius: 20px; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); */
  /* background-color: white; */
}
}
